<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="test2">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="form">
                    <input id="text" type="text" name="input" value=""  placeholder="Input text or URL" required>
                    <input type="submit" name="" value="submit">
                </form>
        <!--
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="" placeholder="Name">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
        -->
            </section>

            <section>
                <strong class="test">Form Results:</strong>
                <div id="results">
                    <p id="model"></p>
                    <p id="score_tag"></p>
                    <p id="agreement"></p>
                    <p id="subjectivity"></p>
                    <p id="confidence"></p>
                    <p id="irony"></p>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
