<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Travel Planner</title>
        <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
    </head>

    <body>
        <header>
            <div class="">
                Travel Planner
            </div>
            <div class="test2">
                navigation
            </div>
        </header>

        <main>
            <section class="container">
                <h1>Plan a new trip</h1>
                <form id="form">
                    <fieldset>
                        <div class="inputBox">
                            <label for="where">Where</label>
                            <input type="text" id="where" type="text" name="input" value="" placeholder="Search destinations" required>
                        </div>

                        <div class="inputBox cal">
                            <label for="startDate">Start date</label>
                            <input type="date" class="cal" id="startDate" name="trip-start" value="" min="2022-05-01" placeholder="Add dates" required>
                        </div>

                        <div class="inputBox cal">
                            <label for="endDate">End date</label>
                            <input type="date" class="cal" id="endDate" name="trip-end" value="" min="2022-05-01" placeholder="Add dates" required>
                        </div>

                        <div class="inputBox">
                            <label for="who">Who</label>
                            <input type="text" id="who" value="" placeholder="Add guests">
                            <!-- <select name="prefecture">
                                <option value="Adults">Adults</option>
                                <option value="Children">Children</option>
                                <option value="Infants">Infants</option>
                                <option value="Pets">Pets</option>
                            </select> -->
                        </div>

                        <div class="inputBox">
                            <input type="submit" id="searchBtn"name="" value="search">
                        </div>
                    </fieldset>
                </form>

            <!-- <form class="" onsubmit="Client.setSubmitFromHtml(event)">
                <input id="text" type="text" name="input" value="" onblur="" placeholder="Name">
                <input type="submit" name="" value="submit" onclick="Client.setSubmitFromHtml(event)"
                    onsubmit="Client.setSubmitFromHtml(event)">
            </form> -->
            </section>

            <section>
                <div>
                    <button id="remove">remove</button>
                </div>
            </section>

            <section class="resultContainer">
               <section class="cityImage">
                <div class="city">
                    <img id="cityImage">
                </div>
               </section>

               <section class="resultDescription">
                    <div id="tripTitle">
                        <p id="cityName"></p>
                    </div>
    
                    <div id="Itinerary">
                        <p id="">Itinerary</p>
                        <span id="daysLeft"></span>
                    </div>
    
                    <div>
                        <p id="">Weather</p>
                        <div class="weatherDesc">
                            <P id="weatherDesc"></P>
                        </div>
    
                        <div class="maxTemp">
                            <p id="maxTemp"></P>
                        </div>
                        <div class="minTemp">
                            <p id="minTemp"></P>
                        </div>
                    </div>
    
                </section>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            // if ('serviceWorker' in navigator) {
            //     // Use the window load event to keep the page load performant
            //     window.addEventListener('load', () => {
            //         navigator.serviceWorker.register('/service-worker.js');
            //     });
            // }
        </script>
    </body>
</html>
